.ant-modal-close-x {
  display: none !important;
}

.close-container {
  position: absolute;
  top: 0;
  right: 0;
}

.ant-modal {
  z-index: 1002;
}



.background-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ant-modal-body {
  background-color: white;
  padding: 0 !important;
  margin: 25px 50px !important;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px 0 #00000014, 0 9px 28px 8px #0000000d;
}

.ant-modal-header {
  background: transparent !important;
  position: relative;
  border-bottom: none !important;
}